#contact{style: 'margin-top: 100px;'}
  .container
    .row
      .col-md-12.section_header
        %h3 Courses
    .row
      .col-sm-4
        %select.form-control
          %option{value: "one"} Healing & Protection
          %option{value: "two"} Prosperity & Abundance
          %option{value: "three"} Spirituality
      .col-sm-8
        %select.form-control
          %option{value: "one"} Basic Pranic Healing
          %option{value: "two"} Advanced Pranic Healing
          %option{value: "three"} Pranic Crystal Healing
    .row
      .col-sm-7.left_box
        .big
          %h3 Basic Pranic Healing
          %p
            = image_tag('ddd.jpg', width: 533)
          %p All beings have an energy field around them, often known as the aura that looks like a luminous ball of light. Aura works like a battery; it keeps our body healthy and alive.

          %p Anything in life that disturbs us, from bad weather, improper hygiene and malnutrition to stress, fear, sadness and frustrations makes this luminous energy field dimmer, imbalanced and full of holes and greyish energies. This, in long run appears as pain, discomfort, physical and psychological problems.

          %p To remain healthy, happy and in a good shape, we must take care of our energy body!

          %p Just as we take a daily shower to keep the physical body clean, the energy body also needs cleansing to maintain a good health.

          %p With Pranic Healing, we are able to detect the problems and imbalances in the aura and carefully remove them using a fairly simple technique that involves no touching, no drug and anyone can learn to do it.

          %p Once the aura is balanced and bright, our wellbeing is guaranteed.

          %p Pranic Healing provides the science behind living healthily, supported by tons and tons of researches and testimonials all around the world.

          %p The different methods of cleaning and energizing the aura and chakras are all parts of Basic Pranic Healing workshop.
      .col-sm-5.right_box
        %h3.right_box_nav_title PREREQUISITE
        %p
          No Testimonial Yet.
        %h3.right_box_nav_title UP COMMING WORKSHOPS
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th Date
                %th Location
                %th{width: '5%'}
            %tbody
              %tr
                %td 12/06/2014
                %td Ahmedabad
                %td
                  = image_tag('108-Share-16.png')

              %tr
                %td< 30/06/2014
                %td< Gadhada
                %td<
                  = image_tag('108-Share-16.png')
/ starts footer
%footer#footer
  .container
    .row.info
      .col-sm-6.residence
        %ul
          %li 2301 East Lamar Blvd. Suite 140. City, Arlington.
          %li United States, Zip Code TX 76006.
      .col-sm-5.touch
        %ul
          %li
            %strong P.
            1 817 274 2933
          %li
            %strong E.
            %a{href: "#"} bootstrap@twitter.com
    .row.credits
      .col-md-12
        .row.social
          .span12
            %a.facebook{href: "#"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{href: "#"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.gplus{href: "#"}
              %span.socialicons.ico3
              %span.socialicons_h.ico3h
            %a.flickr{href: "#"}
              %span.socialicons.ico4
              %span.socialicons_h.ico4h
            %a.pinterest{href: "#"}
              %span.socialicons.ico5
              %span.socialicons_h.ico5h
            %a.dribble{href: "#"}
              %span.socialicons.ico6
              %span.socialicons_h.ico6h
            %a.behance{href: "#"}
              %span.socialicons.ico7
              %span.socialicons_h.ico7h
        .row.copyright
          .col-md-12
            © 2013 Clean Canvas. All rights reserved. Theme by Detail Canvas.
