.page-header
  %h1
    New Center

.row
  .col-xs-12
    %form.form-horizontal{role: 'form'}
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Name
        .col-sm-9
          %input#form-field-1.col-xs-10.col-sm-5{placeholder: '', type: 'text'}/
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Foundation
        .col-sm-9
          %select#form-field-select-1.col-xs-10.col-sm-5
            %option{value: ''}  
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Location
        .col-sm-9
          %input#form-field-1.col-xs-10.col-sm-5{placeholder: '', type: 'text'}/
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-input-readonly'} Address
        .col-xs-10.col-sm-4
          %textarea.form-control
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Phone 1
        .col-sm-9
          %input#form-field-1.col-xs-10.col-sm-5{placeholder: '', type: 'text'}/
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Phone 2
        .col-sm-9
          %input#form-field-1.col-xs-10.col-sm-5{placeholder: '', type: 'text'}/
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Mobile
        .col-sm-9
          %input#form-field-1.col-xs-10.col-sm-5{placeholder: '', type: 'text'}/
      .space-4
      .form-group
        %label.col-sm-3.control-label.no-padding-right{for: 'form-field-1'} Email
        .col-sm-9
          %input#form-field-1.col-xs-10.col-sm-5{placeholder: '', type: 'text'}/
      .clearfix
        .col-md-offset-3.col-md-9
          %button.btn.btn-info{type: 'button'}
            %i.icon-ok.bigger-110
            Submit
          \     
          %button.btn{type: 'reset'}
            %i.icon-undo.bigger-110
            Reset