#certifyAll.popup-body
  .center
    .spacer20
    %h4#certifyPopupTitle
    #usersWithoutCertyListing
    .spacer10
    = link_to t('common.caption.button.continue'), certify_all_workshop_registrations_path(@workshop), class: 'btn btn-md btn-success', id: 'confirmCertifyAllBtn', method: 'post'
    = link_to t('common.caption.button.cancel'), 'javascript:void(0)', class: 'btn btn-md btn-success certifyAll_close'
