.row
  .col-xs-12
    .row-fluid
      %ul.ace-thumbnails
        - @event_photo_gallery.each do |event_gallery|
          %li
            = image_tag event_schedule_gallery_path(style: :medium, event_schedule_id: event_gallery.event_schedule_id, id: event_gallery.id, filename: event_gallery.photo_file_name), class: 'event_photo_image_height_width'
            .center
              .name= truncate(event_gallery.photo_file_name, length: 17)
              .name
                = link_to t('event_photo_gallery.caption.remove'), remove_event_photo_path(event_gallery), confirm: t('event_photo_gallery.message.remove'), method: 'delete'