- unless @profiles.blank?
  $('#sign_in_confirmation #usersListing').html('#{escape_javascript render(partial: 'registrations/users_listing')}');
  $('#sign_in_confirmation').popup({
  autoopen: true,
  opacity: 0.7,
  beforeopen: function() {
  $("#continueRegistrationBtn").addClass('sign_in_confirmation_close');
  }
  });
