%p.force-justify{style: 'font-size: 15px;'}= t('registration.caption.pdf.declaration.bph.paragraph_1')
%p.force-justify{style: 'font-size: 15px;'}= t('registration.caption.pdf.declaration.bph.paragraph_2')
%p.force-justify{style: 'font-size: 15px;'}= t('registration.caption.pdf.declaration.bph.paragraph_3')