.page-content
  .page-header
    %h1
      = t('registration.page_content.header.new')
      %small
        %i.icon-double-angle-right
        = t('registration.page_content.header.breadcrumb')
  = render :partial => 'form'