.row
  .col-xs-12
    .painting
      - @activity_photo_gallery.each do |activity_gallery|
        - remove_activity_gallery_path =  action_event ? remove_activity_photo_path(activity_gallery, manage_page: action_event) : remove_activity_photo_path(activity_gallery)
        .col-xs-4
          %div{style: 'height:250px; width:500px;'}
            = image_tag(activity_gallery.photo.url(:medium), class: 'event_photo_image_height_width')
            .event_photo_image_height_width.center
              .name= activity_gallery.photo_file_name
              .name
                = link_to t('event_photo_gallery.caption.remove'), remove_activity_gallery_path, confirm: t('event_photo_gallery.message.remove'), method: 'delete'