.page-content
  .page-header
    %h1
      = t('registration_donation.page_content.header.new')
      %small
        = render partial: 'workshops/workshop_details_page_header'
  = render partial: 'form'
