- if @courses.present?
  $('#courses_dropdown_id').html('#{escape_javascript(options_from_collection_for_select(@courses, 'id', 'name'))}');

- if @course.present?
  $('#course_details').html("#{escape_javascript(render partial: "course_detail", locals: { course: @course })}");