#blog_post.home_course_content_margin
  .container
    .section_header
      %h3= @course.name.capitalize
    .row
      .col-sm-8
        - if @course.avatar.present?
          = image_tag(@course.avatar.url(:medium), class: 'post_pic img-responsive')
        - else
          = image_tag('no_image.png')
        .post_content
          %p
            = simple_format(@course.description)