/* ace.min overrides */

.main-content{
  margin-left: 0px;
}

.flash_msg{
  padding: 20px;
  text-align: center;
}

/* For footer section */
html,
body {
  height: 100%;
  overflow-x: hidden;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #2C6AA0;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer_container{
  width:100% !important;
}

.footer_table_td{
  width: 20px;
}

.footer_link{
  margin: 20px 0px 0 10px;
}

.footer_links{
  color: #FFFFFF
}

.footer_links:hover{
  color: #FFFFFF;
  text-decoration: none;
}

.footer_links:focus{
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
}

/* End of Footer */

.login-box .toolbar {
    background: none repeat scroll 0 0 #2C6AA0;
    border-top: 2px solid #597597;
}

.login-box .forgot-password-link {
    color: #FFFFFF;
}

// =========Helpers for vertical spacing
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer75 { height: 75px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

//Common
.margin-right-10 { margin-right: 10px!important; }