%footer#footer
  .container
    .row.info.footer-info-margin
      .col-sm-5.touch.pull-left
        %ul
          %li
            %strong M.
            = Settings.defaults.contact.mobile
      .col-sm-7.touch
        %ul
          %li
            = "Copyright © #{Time.now.year}. YVPHFM Pranic Healing Center Ahmedabad"