#navbar.navbar.navbar-default
  #navbar-container.navbar-container
    .navbar-header.pull-left
      %a.navbar-brand{href: "#"}
        %small
          %i.icon-leaf
          Healers Connect
    .navbar-header.pull-right{role: "navigation"}
      %ul.nav.ace-nav
        %li
          %a{href: "#"}
            %i.icon-off
            Signin